/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
i {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  overflow: hidden;
  background-color: #2E5266;
  font-size: 1.6rem;
  padding: 20px;
}
.header ul {
  display: flex;
  margin-left: 3rem;
}
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
.header a .logo {
  font-size: 25px;
  font-weight: bold;
}
.header .active {
  background-color: #9FB1BC;
  color: white;
}
.header a:hover {
  background-color: #F1F1F1;
  color: black;
}
.header i {
  color: white;
  padding: 12px;
  align-items: baseline;
}
.header .header-right {
  float: right;
}
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.menu-button {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 200px;
  height: 75vh;
  background-color: #9FB1BC;
  border: 1px solid #07252C;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
.menu ul li {
  list-style-type: none;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
}
.menu ul li:hover {
  background-color: #F1F1F1;
  color: black;
}
.menu--open {
  display: block;
}
