.top-section {
    background-color: #9FB1BC;
    
    .top-section-home{
        margin: 0 auto;
        position: relative;
        z-index: 40;
        text-align: center;
        padding: 70px 0 100px 550px;
        color: #ffffff;
        display: flex;

        .text-section {
            max-width: 400px;
            margin: 0 auto;
            padding-bottom: 60px;
        }

        img {
            left: 0;
            width: 500px;
            position: absolute;
            top: 62px;
        }
    }
}
