// color
// @black-color: black;

// color use case
// @sidebar-bg-color: @black-color;
@primary-color: #748ffc;

// paddings
@small-padding: 1.5rem;
@medium-padding: 2.5rem;


// margins
@small-margin: 1.5rem;
@medium-margin: 2.0rem;
@large-margin: 3.0rem;


// font sizes
@small-font: 1.0rem;
@medium-font: 2.0rem;
@xmedium-font: 2.5rem;
@large-font: 3.2rem;


// screen sizes
@tablet: ~"(min-width: 750px)";
@mobil: ~"(min-width: 500px)";