.menu-button {
    position: absolute;
    right: 0px;
    cursor: pointer;
}
  
.menu {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 200px;
    height: 50vh;
    background-color: #9FB1BC;
    border-left: none;
    border-bottom: none;
    z-index: 99; 
}
  
.menu ul li{
    list-style-type: none;
    font-size: @small-font;
    text-align: center;
    color: white;
    text-align: center;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    &:hover {
        background-color: #F1F1F1;
        color: black;
    }

    a {
        text-decoration: none;
        list-style-type: none;
        font-size: @small-font;
        text-align: center;
        color: white;
        text-align: center;
        padding: 12px;
        line-height: 25px;
        border-radius: 4px;
        &:hover {
            background-color: #F1F1F1;
            color: black;
        }
    }
}
  


.menu--open {
    display: block;
}